.articles-group {
  display: flex;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  gap: 10px;

  .article {
    max-width: 250px;
    scroll-snap-align: center;

    &__img {
      @include borderTop(5px);
      width: 250px;
    }

    &__tag {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1.12px;
      text-transform: uppercase;
      color: #419fb9;
    }
  }
}
