.form {
  margin: auto;
  margin-bottom: 3.125rem;
  justify-content: center;
  @include inputStyles(2rem, #696969);
  padding: 1.5rem;

  &__group {
    @include inputStyles(1rem);
  }

  &__input {
    padding: 1rem;
    @include inputStyles(1.5rem, #cacaca, 4px);

    &--select {
      @include inputStyles(1.5rem, #696969, 4px);
    }
  }

  &__button {
    @include button(#f778b9);
  }

  @include medium {
    width: 50%;
    margin-bottom: 0;
  }
}
