@use "variables";

.main-nav {
  display: none;
  position: sticky;
  top: 5rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1044px;
  height: calc(100vh - 5rem);
  margin: auto;
  padding-bottom: 2rem;
  overflow: auto;
  z-index: 500;
  background-color: #fff;

  &__wrapper {
    position: relative;

    padding-top: 1rem;
    width: 90%;
    margin: auto;
    @include xl {
      width: 100%;
    }
  }

  &__inputSearch {
    width: 100%;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 4px;
  }

  &__buttonSearch {
    position: absolute;
    right: 6px;
    top: 20px;
    border: none;
    background-color: variables.$indigo500;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }

  &__iconSearch {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: white;
    background-color: variables.$indigo500;
  }

  &__menus-container {
    margin-bottom: 2rem;
    @include medium {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      row-gap: 2rem;
    }
  }

  &__item {
    width: 100%;
    @include medium {
      width: 48%;
    }
  }

  &__title {
    @include heading-H2(24px, 32px, variables.$indigo500);
    margin-bottom: 0.7rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(223, 223, 223);
  }

  &__wrapperLinks {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    text-decoration: none;
    @include heading-H2(16px, 24px, #555555, 600);
  }

  &--isOpen {
    display: block;
    animation: fade 0.7s ease;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
