.hamburguerBackground {
  display: none;
  position: sticky;
  top: 4rem;
  left: 0;
  right: 0;
  height: calc(100vh - 4rem);
  background-color: #fff;
  overflow: auto;
  z-index: 99;
  width: 100%;

  .hamburguerMenu {
    padding-top: 1rem;
    width: 90%;
    margin: auto;

    .menuContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: space-between;
      padding-bottom: 3rem;
    }

    input {
      padding: 1rem;
      border: 1px solid #cacaca;
      border-radius: 4px;
      width: 100%;
    }
  }
}

/*Open Menu*/

.menuIsOpen {
  display: block;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* menu interno */

.navMenu {
  width: 100%;
  h3 {
    @include heading-H2(24px, 32px, #486db7);
    margin-bottom: 0.7rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      text-decoration: none;
      @include heading-H2(16px, 24px, #555555, 600);
    }
  }
}
