.nav {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 2rem;
  padding: 1rem;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &__icon-cursorPointer {
    cursor: pointer;

    &:hover {
      stroke: gray;
    }
  }
}
