.header {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &__nav {
    width: 90%;
    max-width: 1044px;
    margin: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem;
    z-index: 1000;
  }

  &__icon {
    border: none;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}

.material-icons-round {
  font-size: 35px;
}
