@mixin heading-H2($fontSize, $lineHeigth: 0, $color: 0, $fontWeight: 700) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeigth;
  letter-spacing: -0.02em;
  color: $color;
}

@mixin text($Fontsize, $lineHeigth: 0) {
  font-family: "Merriweather";
  font-size: $Fontsize;
  line-height: $lineHeigth;
  letter-spacing: 0.02em;
}

@mixin inputStyles($spacing, $BorderColor: 0, $BorderRadius: 0) {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  border: 1px solid $BorderColor;
  border-radius: $BorderRadius;
}

@mixin borderTop($num) {
  border-radius: #{$num} #{$num} 0px 0px;
}

@mixin button($bgColor) {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: $bgColor;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
    transition: 0.4s ease;
  }
}

// -----> Media queries <------

@mixin small {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
