@mixin heading-H2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

@mixin text($Fontsize, $lineHeigth) {
  font-family: "Merriweather";
  font-size: $Fontsize;
  line-height: $lineHeigth;
  letter-spacing: 0.02em;
}
