@import "./variables";
@import "./mixins";
@import "./header";
@import "./hamburguerMenu";
@import "./hero";
@import "./articles";
@import "./form";
@import "./FAQ";
@import "./reviews";
@import "./footer";
@import "./modal&newsletter";

body {
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

main {
  max-width: 1044px;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 90%;
  margin: 3.125rem auto;
}

h2,
summary {
  @include heading-H2(22px, 26px);
}

.form-FAQ-row {
  @include medium {
    display: flex;
    gap: 3rem;
  }
}
