@import "./mixins";
@import "./header";
@import "./articles";
@import "./form";
@import "./FAQ";

body {
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 90%;
  margin: auto;
  margin-top: 3.125rem;
}

h2,
summary {
  @include heading-H2();
}


